*.exe
*.o
*.swo
*.swp
*~
./compile
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoscan*.log
confdefs.h
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
conftest.c
data/misc/gummi.desktop
depcomp
install-sh
intltool-*.in
libtool
ltmain.sh
m4/intltool.m4
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
missing
po/*.gmo
po/Makefile.in
po/POTFILES
po/stamp-it
src/.deps
src/.libs
stamp-h1
